<header>
  <p class="pageTitle"><a class="pageTitleLink" href="/">Opawnion</a></p>
  <nav class="navTag">
    <button class="profileButton" popovertarget="profileMenu">
      <img
        class="profileButtonImg"
        src="https://img.itch.zone/aW1nLzIxNzIzNTYwLmpwZw==/original/5fS%2BUG.jpg"
        alt=""
      />
    </button>
    <div id="profileMenu" popover>
      <a href="/profile:user">Profile</a>
      <a href="/log-out">Log out</a>
    </div>
  </nav>
</header>
