<% if (postModalOpen) { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("createPostPopoverModal").showModal();
  });
</script>
<% } %>

<dialog id="createPostPopoverModal">
  <div class="createPostFormContainer formContainer" id="CreatePostPopover">
    <div class="formHeader">
      <p class="formTitle">Create a post</p>
      <button class="modalCloseBtn">
        <img src="../icons/close.svg" alt="Close icon" />
      </button>
    </div>
    <form action="/createPost" method="POST">
      <div class="inputContainer">
        <label for="title">Title:</label>
        <input
          aria-label="title"
          type="text"
          name="title"
          id="title"
          placeholder='Cat&apos;s should be called the "owner"'
          value="<%= values?.title %>"
        />

        <%- include('./formErrorMessage', {target: "title"}) %>
      </div>
      <div class="inputContainer">
        <label for="description">Description:</label>
        <textarea aria-label="description" name="description" id="description">
<%= values?.description %></textarea
        >
      </div>
      <% if (userdata.status === "member") { %>
      <div class="inputContainer secretCheckboxContainer">
        <input
          class="secretCheckbox"
          id="secretCheckbox"
          type="checkbox"
          name="isSecretPost"
        />
        <label for="secretCheckbox">Is it a secret post?</label>
      </div>
      <% } %>

      <button type="submit">Create</button>
    </form>
  </div>
</dialog>
