<% if (formValidationErrorMessages.length > 0) { %> <%
formValidationErrorMessages.forEach(message => { %>
<% if (message.path === target) { %>

<div class="formValidationErrorContainer">
  <div class="formValidationError">
    <p class="formValidationErrorMessage"><%= message.msg %></p>
  </div>
</div>

<% }})} %>
